@import url('http://fonts.cdnfonts.com/css/one-day');
body {
    font-family: "ONE DAY", sans-serif;
    color: #444444;
  }
  
  a {
    color: #525252;
    text-decoration: none;
  }
  
  a:hover {
    color: #EDE4BA;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'ONE DAY', sans-serif;
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    color:#EDE4BA;
  }
  h2 {
    text-align: center;
  }

  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(145, 39, 36, 1); 
  }
  #header.header-transparent {
    background: transparent;
  }
  #header.header-scrolled {
    background: rgba(145, 39, 36, 1);
    height: 60px;
  }
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
  }
  #header .logo h1 a, #header .logo h1 a:hover {
    color: #EDE4BA;
    text-decoration: none;
  }
  #header .logo img {
    padding: 0;
    margin: 0;
    max-height: 40px;
  }
  /*--------------------------------------------------------------
# Qr code
--------------------------------------------------------------*/
  #qrcode {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 7% 0 0 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(145, 39, 36, 1); 
    min-height: 100vh;

  }
  #qrcode:before {
    content: "";
    background: rgba(145, 39, 36, 1);  
    position: absolute;
    z-index: -1;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  #qrcode .green-circle {
      position: absolute;
      right: 0%;
      top: 0%;
      height: 20%;
      animation: anime2 5s ease-in-out infinite;
  }
  
  #qrcode .blue-circle {
      position: absolute;
      bottom: 10%;
      left: 0%;
      height: 20%;
      animation: anime2 5s ease-in-out infinite;
  }
  @keyframes anime2 {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px); 
    }
    100% {
      transform: translateY(0);
  }

}
  @media only screen and (max-width: 768px){
      #qrcode {
          padding-bottom: 80px;
      }
    #qrcode .green-circle {
        height: 10%;
    }
    #qrcode .blue-circle {
        height: 10%;
        bottom: 5%;
    }
    
  }
  #qrcode .desc-container p {
    line-height: 2;
  }
  #qrcode .qrcode-box {
    background-color: #912724;
    height: 200px;
    width: 300px;
  }
  
  
